@font-face {
    font-family: harryPotterFont;
    src: url(.../fonts/harryp.ttf) format('truetype');
} 

body {
	text-align: center;
	background: url(../images/smokey-background.jpg) no-repeat center;
    background-size: cover;
 	background-attachment:fixed;
    font-family: 'Fredericka the Great', cursive;
}
.page-header {
    opacity: 50%;
    color: #fff;
    padding: 35px;
    font-family: 'Fredericka the Great', cursive;
    text-align: center;
}

#btnStart{
    color: #000000;
    font-size: 30px;
    align-content: center;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.btn{
    align-content: center;
    margin-bottom: 45px;
}

.main-content {
	position: relative;
	padding: 30px;
}

.bg-color {
	background: silver;
    background: rgba(255,255,255, 0.9);
}

#time,
#question,
#answers {
    padding: 20px;
    align-content: space-around;
    align-items: center;
    color: #fff;
} 

#question p {
    font-size: 20px;
    align-items: center;
    color: #fff;

}

.choice {
    margin: 3px;
    align-items: center;
    margin-bottom: 45px;
}

.results-image {
    margin-bottom: 25px;    
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: #fff;
    text-align: center;
 }

 #choices {
     color: #fff;
     margin-bottom: 35px;
 }